<h2>
  About
</h2>

<p>
  Cryptovoxels is a virtual world that is powered by the Ethereum blockchain
  and WebGL.
</p>

<h2>
  More links
</h2>

<ul class="findmeonline">
  <li><a href="http://twitter.com/cryptovoxels"><img src="/images/twitter.png" /> twitter</a></li>
  <li><a href="http://instagram.com/cryptovoxels"><img src="/images/insta.jpg" /> instagram</a></li>
  <li><a href="http://github.com/cryptovoxels"><img src="/images/github.png" /> github</a></li>
  <li><a href="/atom.xml"><img src="/images/rss.png" /> atom feed</a></li>
  <li><a href="/feed.json"><img src="/images/json.png" /> json feed</a></li>
</ul>

